<div class="container-fluid bg-blue">
    <div class="container mt-3">
      <div class="row alignment pt-3">
          <div class="col-md-6 col-xs-8 logo">
              <!--Logo-->
                    <a class="navbar-item ">
                      <img src="https://vedascloud.com/spectrochips/files/logo.jpg" alt="logo" width="150" height="100" class="align-self-start logo-img"/>
                    </a>
          </div>
          <div class="col-md-6 col-xs-4   logout">
              <a routerLink="/login" *ngIf="!hideLogOut" class='btn btn-danger btn-sm shadow pull-right' style="margin-top: 40px;">
                  <span class='glyphicon glyphicon-log-out'></span> Logout
                </a>
          </div>
        </div>
  </div>
  </div>