.logout{
    margin-top:30px;
}
@media screen and (max-width:600px){
    .logo{
        width: 50%;
        max-width: 50%;
        float: left;
        
    }
    .logo-img{
        max-width: 100%;
        height: auto;
    }
    .logout{
        width: 30%;
        max-width: 30%;
        text-align: right;
        margin-top: 25px;
        margin-left: 53px;
        height: auto;
    }
    .alignment{
        display: inline;
    }
    
    
}
@media screen and (min-width:600px){

    .logout{
        text-align: right
    }
}


